.text-platzi{
  color: #c93e3e !important;
}

.btn-white:hover{
  color: #c93e3e;
}

.btn-platzi{
  background-color: #c93e3e;
  color: white;
}

.btn-platzi:hover{
  background-color: #c93e3e;
  color: white;
}



#header img{
  width: 80px;
}

#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel{
  position: relative;
}

#carousel .overlay{
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
  height: 100%;
}

#place-time{
  background-color: #343A40;
  color: white;
}

#place-time img{
  max-width: 100%;
}

#footer{
  background: gray;
}

#footer a{
  color: white;
}
